# Python cache & virtualenv
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
env/
.venv/
*.egg-info/
*.egg
*.log
.pytest_cache/

# OS & editor files
.DS_Store
.vscode/
.idea/

# Data & archive
data/
archive/
main_archive/
*.pdf

# Secrets & configs
.env
.env.*

# Logs
logs/
*.log

# Build/Dist
dist/
build/
multi_doc_chat.egg-info/
flow.excalidraw

models/*
!models/README.md
faiss_index/*
